a {
    text-decoration: none;
}

#live2d-widget {
    animation-name: mySixth;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-delay: 0;
}

@keyframes myfirst {
    0% {
        opacity: 0;
        width: 0;
    }

    25% {
        opacity: 0.25;
        width: 25%;
    }

    50% {
        opacity: 0.5;
        width: 50%;
    }

    75% {
        opacity: 0.75;
        width: 75%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes mySecond {
    0% {
        opacity: 0;
        height: 0;
    }

    25% {
        opacity: 0.3;
        height: 25%;
    }

    50% {
        opacity: 0.5;
        height: 50%;
    }

    75% {
        opacity: 0.8;
        height: 75%;
    }

    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes myThird {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    25% {
        opacity: 0.3;
        width: 25%;
        height: 25%;
    }

    50% {
        opacity: 0.5;
        width: 50%;
        height: 50%;
    }

    75% {
        opacity: 0.8;
        width: 75%;
        height: 75%;
    }

    100% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}

@keyframes myFourth {
    0% {
        opacity: 0;
        width: 50%;
        height: 100%;
    }

    25% {
        opacity: 0.5;
        width: 50%;
        height: 100%;
    }

    50% {
        opacity: 1;
        width: 50%;
        height: 100%;
    }

    75% {
        opacity: 0.5;
        width: 50%;
        height: 100%;
    }

    100% {
        opacity: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes myFifth {
    from {
        opacity: 1;
        top: 0;
        right: 0;
    }

    to {
        opacity: 0;
        bottom: 0;
        left: 0;
    }
}

@keyframes mySixth {
    from {
        opacity: 1;
        top: 0;
        left: 0;
    }

    to {
        opacity: 0;
        bottom: 0;
        right: 0;
    }
}

@keyframes mySeventh {
    from {
        opacity: 0;
        top: 0;
        right: 50%;
    }

    to {
        opacity: 1;
        top: 0;
        right: 50%;
    }
}

@keyframes myEighth {
    0% {
        opacity: 1;
        height: 100%;
        width: 100%;
    }

    25% {
        opacity: 0.8;
        height: 75%;
        width: 100%;
    }

    50% {
        opacity: 0.5;
        height: 50%;
        width: 100%;
    }

    75% {
        opacity: 0.3;
        height: 25%;
        width: 100%;
    }

    100% {
        opacity: 0;
        height: 00;
        width: 100%;
    }
}

@keyframes myNinth {
    0% {
        opacity: 0;
        width: 100%;
    }

    25% {
        opacity: 0.25;
        width: 75%;
    }

    50% {
        opacity: 0.5;
        width: 50%;
    }

    75% {
        opacity: 0.75;
        width: 25%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes myTenth {
    0% {
        opacity: 0;
        width: 100%;
        height: 0;
    }

    25% {
        opacity: 0.3;
        width: 75%;
        height: 25%;
        bottom: 0;
    }

    50% {
        opacity: 0.5;
        width: 50%;
        height: 50%;
        bottom: 25%;
    }

    75% {
        opacity: 0.8;
        width: 25%;
        height: 75%;
        bottom: 50%;
    }

    100% {
        opacity: 1;
        width: 0;
        height: 100%;
        bottom: 75%;
    }
}

/* <div id="live2d-widget" class="live2d-widget-container" style="position: fixed; right: 0px; bottom: -20px; width: 300px; height: 500px; z-index: 99999; opacity: 1; pointer-events: none;">
    <canvas id="live2dcanvas" width="600" height="1000" style="position: absolute; left: 0px; top: 0px; width: 300px; height: 500px;"></canvas>
    </div> */